---
import HeaderLink from './HeaderLink.astro'
import { SITE_TITLE } from '../config'
import '../styles/header.css'
---

<header class='header py-4 shadow-sm shadow-gray-100'>
  <nav class='flex items-center justify-between w-full container mx-auto'>
    <h2 class='text-2xl font-bold text-slate-800'>
      {SITE_TITLE}
    </h2>
    <ul class='flex items-center'>
      <HeaderLink href='/'>Home</HeaderLink>
      <HeaderLink href='/blog'>Blog</HeaderLink>
      <HeaderLink href='/about'>About</HeaderLink>
    </ul>
  </nav>
</header>
