---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, ...props } = Astro.props
const className =
  'text-green-600 font-normal ml-3 border-b border-transparent hover:border-green-400 transition-all'
const isActive = href === Astro.url.pathname
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
  <slot />
</a>
